#box {
  border: 1px solid #000;
  width: 50px;
  height: 1rem;
  text-wrap-mode: nowrap;
  overflow: hidden;
  margin: 0%;
}

#box:hover {
  width: 250px;
  margin: 0 20px;
  transition:
    width 2s ease-in-out,
    margin 1s;
}

.s {
  border: 1px solid #000;
  width: 50px;
  height: 1rem;
  text-wrap-mode: nowrap;
  overflow: hidden;
  margin: 0%;
}

.s:hover {
  background-color: blue;
  color: aliceblue;
  margin: 0 10px;
  transition: margin 0.5s linear 1s;
}


